
body {
  /* Positioning: vertical centering with flexbox: */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Make body taking the full size of its parent (html): */
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
html {
  /* Make html taking the full height of its parent (the window) */
  box-sizing: border-box;
  height: 100%;
}
/* basic design for "glass" container */
.glass {
  border-radius: .5em;
  box-shadow: 0.2em 0.2em 1.2em 0em, 0 0 0 1px hsla(0,0%,100%,.2) inset;
  font-family: Georgia, serif;
  font-size: 2em;
  font-style: italic;
  margin: 1em;
  padding: 1em;
}
/* Interesting from here */
body, .glass::before {
  background: url(img/night-town.jpg) 50% / cover fixed;
}
.glass {
  background: rgba(255, 255, 255, .3); /* red, green, blue, alpha */
  background: hsla(0, 0%, 100%, .3); /* hue, saturation, lightness, alpha */
}


/* add: ::before pseudo-element, absolutely positioned within .glass */
.glass {
  position: relative;
  overflow: hidden;
}
.glass::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  filter: blur(15px);
  z-index: -1;
  margin: -20px; /* to make the blur effect reach .glass edges */
}
